body {
	margin: 0;
    background-image: url("Bilder/Bakgrunn.jpg")
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.norgesbakgrunn {
    margin: 20px;
    margin-left: 11%;
    margin-right: 0;
    display: block;
	width: auto;
    height: auto;
    max-width: 70%;
    border: 1%;
}


.profiler{
    float: right;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;    
    margin-left:5px;
    width: 20%;
    height: auto;
    border: black solid 1px;
    max-height: 256px;
}

.loginput {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px black solid;
}

.profilertexts {
    float: right;
    display: flex;
    flex-direction: column;
}
#avatarbilde {
    position: relative;
    left: 45%;
    bottom: 20%;
    height: 70%;
    width: 50%;
    border: black solid 1px;
}

.topcontainer {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 90%;
    height: 10%;
}

.search {
    display: inline-block;
    left: 50%;
}
.navbar {
    list-style-type: none;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: row;
}


.navoptions {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navoptions navlink:hover {
    background-color: #4CAF50;
}

/*dropdown not working*/
     li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
    }
    li.dropdown {
    float: right;;
    }
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    float: left;
    }
    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }.dropdown-content a:hover {background-color: #f1f1f1}
    .dropdown:hover .dropdown-content {
    display: block;
    }



.Content  {
    background-color: white;
    margin: auto;
    width: 80%;
}

